body {
  font-family: 'Ubuntu', sans-serif;
}

header {
  background-color: #575454;
  width: 100vw;
  height: 6.5vw;
  position: fixed;
  top: 0;
  left: 0;
}

header .profile-picture {
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 1.75vw;
  background-color: #00ff00;
  margin-top: 1.5vw;
  margin-left: 85vw;
}


header .logo {
  margin-top: 0;
  height: 3.5vw;
  line-height: 3.5vw;
}

header .logo img {
  height: 3.5vw;
  width: auto;
}


header .profile-picture, header .logo {
  display: inline-block;
}

.progress-bar {
  width: 70vw;
  height: 1vw;
  background-color: #adadad;
  border-radius: 0.5vw;
  position: relative;
  margin-left: 10vw;
  z-index: 0;
}

.progress-bar__progressed {
  width: 1vw;
  height: 1vw;
  background-color: #00ff00;
  border-radius: 0.5vw;
  z-index: 1;
}

#content {
  width: 90vw;
  margin: 6.5vw auto;
}

h1 {
  margin: 7vw 2vw;
  font-size: 3.5vw;
}

.welcome {
  margin: auto;
  margin-top: 10vw;
  width: 30vw;
  font-size: 5vw;
  text-align: center;
  margin-bottom: 5vw;
}

label {
  font-size: 1.5vw;
}

input {
  display: block;
  width: 20vw;
  height: 2vw;
  border-radius: 1vw;
  font-size: 1.4vw;
  margin: auto;
  margin-bottom: 3vw;
}

form {
  margin: auto;
  text-align: center;
}